 .u-section-1 {
  min-height: 987px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 4px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 328px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/kultuuripilt.jpeg");
}

.u-section-1 .u-container-layout-1 {
  padding: 0 1px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 328px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/a863d49219a1b3c202f1a81b42329fba7fce8b22f8b43917344baa3e97dcb03270560b37738aa5b7f0e4ed8511f7beeb2ec92cbfb5418187721fb1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/cc060de08762a455d29bbdcf1a07d16ae49688bf003dc12b4a163dc4b971a51f631102024e06be033f857d9300bbdbfe19ada81f5df8e636a5e2b6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 328px;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/b4fe01ccce02c263718bf3f9d8eb3af2929be7e62103df4a9d149c3ee0973f52a935a627b92c2d719f648f8f657e2e22e16f7800342b0e8b585288_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 114px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 328px;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/26f110f4b412139ccc01b271545bc4e0ad02ba84f17b5022c1df65174a61ba4395d69f42bc8194f91bd3ff2c694d9acfcecb3cab3c3581689fdcac_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 114px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 328px;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/bd892656bbf723fb0b40dfb8385b149e9e60edae596dc3cd8e41df57aef25ae05a3af56a02cc5b839f653c62f02dda502824a7112ec8699682f8d3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 119px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 328px;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/e46d64f902a300c44af774dada4e11697acbee9a6fc93793f4c0b2684f34f14ed08c960d8a58a5b5c1c30e499ac50330d4109a4eadfe5f1a1580ab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 117px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 328px;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/f4e26d301c78e124050d5c89891d3b2360b56922bcf7d3c272a813cb9837e4d7e0e9220ed2f5f09975511dc10669329054c4c1a8a47295819d9242_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 328px;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/14f24bdf719971f543475c865fa36cf6e29726e241c8eec1e66469ac94fb51dcbc81a423dfc5c00429c37f4771034af8e240f22853d5692629154d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 117px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 813px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-7 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-8 {
    background-position: 50% 50%;
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-9 {
    background-position: 50% 50%;
    min-height: 271px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 624px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2799px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1761px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 295px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 65px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -43px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 60px 7px;
}

.u-section-2 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 400;
  margin: -11px auto 0 197px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 89px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}